<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        This is the NoobCash website, here you have the possibility to click on three button.
    </ul>
    <ul>
        <li>New transaction: It calls up the transaction.html page which allows you to make a new transaction using the sender and reciever IDs that you wanted to use. In addition, you must choose an amount to complete the transaction. </li>
        <li>View last transactions: This button shows the "view.html" page that allows to display all the transactions of the last block in the blockchain.</li>
        <li>Show balance: When you click on this button, you display the "balance.html" page. In this page you can see the balance of the wallet according to the id that you chose in the dropdown.</li>
    </ul>

</body>
</html>