<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NoobCash</title>
</head>
<body>
    <h1>NoobCash</h1>
    <p>Images</p>
    <button id="bt_transaction">New transaction</button>
    <button id="bt_view">View last transactions</button>
    <button id="bt_balance">Show balance</button>
    <button id="bt_help">Help</button>

    <br>
    
    <iframe id="heart-frame" src="templates/info.html" frameborder="1"></iframe>

    <h1>Bas de page</h1>
    
    <script>
        document.getElementById('bt_transaction').addEventListener('click', function() {
          document.getElementById('heart-frame').src = 'transaction.html';
        });
        document.getElementById('bt_view').addEventListener('click', function() {
          document.getElementById('heart-frame').src = 'view.html';
        });
        document.getElementById('bt_balance').addEventListener('click', function() {
          document.getElementById('heart-frame').src = 'balance.html';
        });
        document.getElementById('bt_help').addEventListener('click', function() {
          document.getElementById('heart-frame').src = 'help.html';
        });
    </script>

</body>
</html>