<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button id="show_view">Last transactions of the blockchain</button>
    <p id="id_show"></p>

    <script>
        document.getElementById('show_view').addEventListener('click', function(){
            call_function('view_transaction')
        })

        function call_function(function_name) {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/call-function');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onload = function() {
                if (xhr.status === 200) {

                my_dict = xhr.responseText


                document.getElementById('id_show').innerHTML = my_dict
            }
               else {
                    alert('Une erreur est survenue : ' + xhr.status);
                }
            };
            xhr.send(JSON.stringify({ 'function_name': function_name }));
        }

    </script>

</body>
</html>